<template name="mainLayout">
    <head>
        <title>Meteor Sets</title>
    </head>

    <main>
        <div class="ui grid">
            <div class="row">
                <div class="two wide column">
                </div>
                <div class="ten wide column">
                <h1>Meteor Sets!</h1>
                </div>
                <div class="four wide column">
                    
                </div>
            </div>
            <div class="row">
                <div class="two wide column">
                    
                </div>
                <div class="fourteen wide column">
                    {{> Template.dynamic template=main}}
                </div>
            </div>
        </div>
    </main>
</template>